<a href="https://colab.research.google.com/github/datxander/Kaggle-course-exercises/blob/Getting-%26-knowing-data/Ex2_Getting_and_Knowing_your_Data_Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Link : https://github.com/guipsamora/pandas_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercises.ipynb
# Step 1. Import the necessary libraries
import pandas as pd

In [3]:
# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called chipo.

path = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_table(path)

In [4]:
# Step 4. See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [9]:
# Step 5. What is the number of observations in the dataset?
chipo.shape[0]

4622

In [10]:
# Step 6. What is the number of columns in the dataset?
chipo.shape[1]

5

In [11]:
# Step 7. Print the name of all the columns.

print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [12]:
# Step 8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [13]:
# Step 9. Which was the most-ordered item?
# Step 10. For the most-ordered item, how many items were ordered?
c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'],ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [14]:
# Step 11. What was the most ordered item in the choice_description column?

c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'],ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [15]:
# Step 12. How many items were ordered in total?

sum(chipo.quantity)

4972

In [18]:
# Step 13. Turn the item price into a float

# Step 13.a. Check the item price type

chipo.item_price.dtype

dtype('O')

In [19]:
# Step 13.b. Create a lambda function and change the type of item price

converter = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(converter)

In [20]:
# Step 13.c. Check the item price type

chipo.item_price.dtype

dtype('float64')

In [21]:
# Step 14. How much was the revenue for the period in the dataset?

rev = chipo.item_price * chipo.quantity
sum(rev)

39237.020000000055

In [30]:
# Step 15. How many orders were made in the period?
order_count = chipo.order_id.value_counts().count()

In [33]:
# Step 16. What is the average revenue amount per order?

avg_order_size = sum(rev) / order_count
print(avg_order_size)

21.3942311886587

In [36]:
# Step 17. How many different items are sold?

items_spread = chipo.item_name.value_counts().count()
items_spread

50